@font-face {
	font-family: 'Questrial';
	src:	local("Questrial"),
		url("../fonts/questrial-regular.woff2"),
		url("../fonts/questrial-regular.ttf");
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	min-height: 100vh;
	font-family: Questrial, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: rgb(245, 244, 244);
	color: rgb(102, 102, 102);
}
header, article, footer > .flex {
	padding: 0 1rem;
}
header {
	padding: 1rem 1rem 0;
}
article {
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	max-width: 800px;
	text-align: justify;
}
h1, h2, h3 {
	margin: 1em 0;
	color: rgb(51, 102, 153);
	text-align: center;
}
h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5em;
}
h2 {
	font-size: 1.5rem;
	font-weight: bold;
}
h3 {
	font-size: 1rem;
	font-weight: bold;
}
p {
	line-height: 1.5em;
}
a:link, a:visited {
	color: rgb(51, 102, 153);
	text-decoration: underline;
}
a:hover, a:focus, a:active {
	text-decoration: none;
}
a img {
	border: 0;
}
aside > section {
	border: thin solid;
	margin: 2em;
	padding: 1em;
	max-width: 200px;
}
article > section {
	margin-bottom: 3rem;
}
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	-moz-box-pack: justify;
	justify-content: space-around;
}
@media (min-width: 1130px) {
	aside {
		-webkit-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		-moz-box-orient: vertical;
		flex-direction: column;
	}
}
header > .logo {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	max-height: 40vh;
}
footer > .flex {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-moz-box-align: center;
	align-items: center;
	margin-top: 1rem;
}
footer > .flex > .partner > img {
	margin: 1em;
	width: 200px;
	max-height: 200px;
}
footer > .flex > .partner > .horizontal {
	width: auto;
	height: 150px;
}
footer > .credits {
	margin: 0;
	text-align: center;
}
footer > .credits > li {
	display: inline;
}
footer > .credits > li:nth-child(even)::before {
	content: "|";
	margin: 0 1ch;
}
.fotoaktion {
	max-width: 800px;
}